div.block--light
    section.section.navbar
        h2.logo
            a(href="/") News App

        nav.nav
            a.nav-item(href="/news") News
            a.nav-item(href="/news/create") Create News
            //a.nav-item(href="/new/politics") Politics


            div.dropdown Categories
                div.dropdown-menu
                    a(href="/news/topic/1") Politics
                    a(href="/news/topic/2") Society
                    a(href="/news/topic/3") Business
                    a(href="/news/topic/4") Tech
                    a(href="/news/topic/5") Culture
                    a(href="/news/topic/6") Sport
                    a(href="/news/topic/7") Tourism