div.block--light
    section.section.navbar
        h2.logo
            a(href="/") News App

        nav.nav
            a.nav-item(href="/news") News
            a.nav-item(href="/news/create") Create News
            a.nav-item(href="/new/politics") Politics