extends layout.pug

block content 
    section.section.page
        h1 Create News

        if news
            form.form#update-news-form(data-id= news.id)
                label Title
                input.input(type="text", name="title" value= news.title required)

                label Published Date
                input.input(type="date", name="pub_date" value= news.pubDate required)

                label Short Content
                input.input(type="text", name="short_content" value= news.shortContent required)

                label Image Url
                input.input(type="text", name="img_url" value= news.imgUrl required)

                label Topic
                select.input(name="topic")
                    each topic in topics
                        if news.topicId == topic.id
                            option(value= topic.id, selected) #{ topic.name }
                        else
                            option(value= topic.id) #{ topic.name }

                label Full Content
                textarea.input.textarea(name="full_content" required) #{news.fullContent}

                button.input.btn.add-btn#update-record Update

            script(src="http://localhost:3000/news-update.js" defer)
        else 
            form.form(action="/news/create", method="POST")
                label Title
                input.input(type="text", name="title" required)

                label Published Date
                input.input(type="date", name="pub_date" required)

                label Short Content
                input.input(type="text", name="short_content")

                label Image Url
                input.input(type="text", name="img_url")

                label Topic
                select.input(name="topic")
                    each topic in topics
                        option(value= topic.id) #{ topic.name }

                label Full Content
                textarea.input.textarea(name="full_content")

                button.input.btn.add-btn Submit